In [1]:
import pandas as pd

In [30]:
df_account = pd.read_csv("final2501.csv")
df_full = pd.read_csv("25년_1월.csv")
df_account.head()

,개최일,부스 위치,자리수,대표작품,계정아이디,계정명,팔로워수,최상단트윗_알티,최상단트윗_마음,최상단트윗_노출수,최상단트윗_내용,multiple_ids
0,NaN,NaN,NaN,NaN,cheerful030,1디페N3 명랑 /ODIA,"3,917",57,96,2만,좋은 기회로 오디아 아카데미에서 피드백 클래스 런칭하게 되었습니다 실제 수강생분들의...,NaN
1,NaN,NaN,NaN,NaN,157eg,✞네코텐✞,"4,004",40,29,3.6천,1월 14일'・:*:네코텐 신상 마켓・｡.͙·☽𝑜𝑝𝑒𝑛 01.18 - 01.20ht...,NaN
2,NaN,NaN,NaN,NaN,3seconds_girl,3초소저,2,뭔가...만들지도...아닐 수도...,1,218,안녕하세요. 놀라지 마세요. 구독계로 화귀러 하다가 화귀계를 판 사람입니다.,NaN
3,NaN,NaN,NaN,NaN,zzzz_0405,NaN,0,0,0,0,NaN,NaN
4,NaN,NaN,NaN,NaN,77HO_i7,77HO,3.8만,0,0,0,NaN,NaN

In [23]:


# print(df_account.iloc[1])

# 계정 아이디 데이터가 풀 데이터 어딘가에 있는 데이터인지 확인하기

filtered_rows = df_full[df_full['트위터'].str.contains('cheerful030', na=False)]

# 결과 출력
# print(filtered_rows["개최일"].item())

day1
day3

In [67]:
# print(len(df_account))

# 특정 열 'column_name'에서 NaN이 아닌 값의 개수를 구하기
non_nan_count = df_account['계정아이디'].notna().sum()
# print(f"'계정아이디' 열의 NaN이 아닌 값 개수: {non_nan_count}")

for i in range(0,non_nan_count):
    # print(df_account.loc[i, "계정아이디"])
    current_account_name = df_account.loc[i, "계정아이디"]
    # print(current_account_name)
    filtered_rows = df_full[df_full['트위터'].str.contains(current_account_name, na=False)]
    
    # if len(filtered_rows) >2:
    #     print(len(filtered_rows))
    #     print(current_account_name)
        
    # print(filtered_rows)
    

    # print(filtered_rows["개최일"].item())
    # print(filtered_rows["위치"].item())
    # print(filtered_rows["부스"].item())
    # print(filtered_rows["대표 작품(원작)"].item())
    if len(filtered_rows) ==1:
        day_data = filtered_rows["개최일"].item()
        booth_pos = filtered_rows["위치"].item()
        booth_size = filtered_rows["부스"].item()
        booth_media_name = filtered_rows["대표 작품(원작)"].item()

    elif len(filtered_rows) ==2:
        day_data = filtered_rows.iloc[0]["개최일"] + ", " + filtered_rows.iloc[1]["개최일"]
        booth_pos = filtered_rows.iloc[0]["위치"] + ", " + filtered_rows.iloc[1]["위치"]
        booth_size = filtered_rows.iloc[0]["부스"] + ", " + filtered_rows.iloc[1]["부스"]
        booth_media_name = str(filtered_rows.iloc[0]["대표 작품(원작)"]) + ", " + str(filtered_rows.iloc[1]["대표 작품(원작)"])

    df_account.loc[i,"개최일"] = day_data
    df_account.loc[i,"부스 위치"] = booth_pos
    df_account.loc[i,"자리수"] = booth_size
    df_account.loc[i,"대표작품"] = booth_media_name
    
df_account.to_csv("입력테스트.csv",index=False,encoding="utf-8-sig")

/var/folders/z2/qsbh3f1940d7mhz3jd8fxw_00000gn/T/ipykernel_53942/388292829.py:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filtered_rows = df_full[df_full['트위터'].str.contains(current_account_name, na=False)]